<h1>Fiber Products</h1>

<div class="fiber_image_2">
<%= image_tag "yarn two.jpg" %>
</div>
<br></br>
<div class="fiber_image_1">
<%= image_tag "yarn one.jpg" %>
</div>
<br></br>

<h3>We are still spinning away! 

We take custom spinning projects and are always looking for a new challenge.  Bring us your dog, cat, coyote, etc hair and we will be more than happy to create a lasting memory for you.  We also spins traditional fibers.</h3>
