<h1>Goat Milk Products</h1>

<div class="goat_image">
<%= image_tag "goat_page.jpg" %>
</div>

<br></br>


<h3>Goat milk has long been treasured by man. It is alkaline and naturally homogenized making it a perfect match for the human body. Goat milk does wonders for the body inside and out. Nigerian Dwarfs are a miniature dairy goat maturing around 50 lbs.  heir milk is superior in taste, texture and butterfat to full size dairy goats making it “the cream of the cream of the crop!”</h3>
<br></br>


<h3> To get the maximum benefit of the milk we use the base as a carrier, a way to get the milk where it needs to go. Our creams, lotions and potions contain 25% goat milk, our soaps contain 15 %. Since our milk comes straight from our farm it is never more than a week old. Our “staff” of goats has full medical coverage with annual physicals by the Vet. What does this have to do with the milk?  Healthy goats = Healthy milk.</h3>
