<div class="logo">
<%= image_tag "logo.png" %>
</div>

<br></br>

<h1>Welcome To Dream Keeper Farms!</h1>

<div class="logo">
<%= image_tag "KCHayGoatPile (3).JPG" %>
</div>
<br></br>


<h3>At Dream Keeper Farm one thing remains constant, this is the place where our dreams have come true!</h3>

<h3>We offer:</h3>

<div class="bulletpoint_1">
<li>Goat Milk Lotions</li>
</div>

<div class="bulletpoint_2">
<li>Creams</li>
</div>

<div class="bulletpoint_2">
<li>Soaps</li>
</div>

<div class="bulletpoint_2">
<li>Bath Items</li>
</div>

<div class="bulletpoint_2">
<li>Herbal Products</li>
</div>

<div class="bulletpoint_2">
<li>Jewelry</li>
</div>

<div class="bulletpoint_2">
<li>Fresh Eggs</li>
</div>

<div class="bulletpoint_2">
<li>Hand Spinning</li>
</div>

<div class="bulletpoint_2">
<li>Fiber Products</li>
</div>

<div class="bulletpoint_2">
<li>Raw Goat Milk</li>
</div>

<h3>If there is something you think we can help you with just let us know!</h3>


