<h1>Welcome To Dream Keeper Farms!</h1>

<%= image_tag "KCHayGoatPile (3).JPG" %>

<h3>At Dream Keeper Farm one thing remains constant,this is the place where our dreams have come true!</h3>

<h3>We offer:</h3>

<li>Goat Milk Lotions</li>
<li>Creams</li>
<li>Soaps</li>
<li>Bath Items</li>
<li>Herbal Products</li>
<li>Jewelry</li>
<li>Fresh Eggs</li>
<li>Hand Spinning</li>
<li>Fiber Products</li>
<li>Raw Goat Milk</li>

<h3>If there is something you think we can help you with just let us know!</h3>


