/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */





@import "bootstrap";

/* mixins, variables, etc. */

$red:         #c00;
$green:       #76B700;
$white:       #fff;
$limegreen:   #81BF0C;
$yellow:      #FDD400;
$darkGrayish: #262626;




/* universal */


div.all_images {
   
   img {
    border-radius: 20px;
   } 
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px black;
  -webkit-box-shadow: 3px 3px 5px 6px black;
  box-shadow:         3px 3px 5px 6px black;
}

div.goat_image {

 img {
    -moz-box-shadow:    3px 3px 5px 6px black;
    -webkit-box-shadow: 3px 3px 5px 6px black;
    box-shadow:         3px 3px 5px 6px black;
    border-radius: 100px;
    margin-right: 20%;
    margin-left: 23%;
  } 
}

div.home_image {

 img {
    -moz-box-shadow:    3px 3px 5px 6px black;
    -webkit-box-shadow: 3px 3px 5px 6px black;
    box-shadow:         3px 3px 5px 6px black;
    border-radius: 100px;
    margin-right: 32%;
    margin-left: 8%;
  } 
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  background-color: #5E5A5B;
  padding-top: 60px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

div.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */



div.fiber_image_1 {
    img {
    margin-right:20%;
    margin-left: 20%;
    border-radius: 20px;
}
}

div.fiber_image_2 {
    img {
    margin-right:20%;
    margin-left: 28%;
    border-radius: 20px;
}
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: black;
  font-family: "Raleway";
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: "Raleway";
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

h3 {
  font-family: "Raleway";
  line-height: 1.5em;
  letter-spacing: -1px;
  font-size: 2.0em;
  text-align: center;
  color:black;
}

h5 {
  font-family: "Raleway";
  font-size: 1.1em;
  line-height: 1.3em;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  color:black;
}

a {
  font-family: "Raleway";
  color: black;
   &:hover {
  color: $green;
  text-decoration: none;
}
}


p {
  font-family: "Raleway";
  color: black;
  font-size: 1.1em;
  line-height: 1.7em;
}




/* header */


div.logo {
  text-align: center;
}


div.navbar-inner {
 
 }

#logo_please{
  margin-right:20%;
  margin-left:20%;
  margin-top: 5%; 
  border-radius: 10em;
 
}

#logo-nav {
  padding-right: 10%;
  padding-left:45%; 
  font-size: 1.2em;
  font-family: "Raleway"; 
  position: static;
  color: $green;
  &:hover {
  color: #E3FA0A;
  text-decoration: none;
}
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $green;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}



div.bulletpoint_1 {
  font-family: "Raleway";
  text-align: center;
  color: $limegreen;
  &:hover { 
    color: $yellow;
    text-decoration: none;
 }
 }

div.contact_form {
  text-align: center;

}

div.field {
  color: $green;
  font-family: "Raleway";
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $yellow;
  color: $yellow;
  a {
    color: $yellow;
    &:hover { 
      color: $green;
    }
  }  
  small { 
    float: left; 
  }

  ul {
    float: right;
    list-style: none;
  }
}



