// copied from
// http://www.google.com/fonts#UsePlace:use/Collection:Trocchi
// and dropped in here to make the asset pipeline happy
p, h1,h3 {
    font-family: "Trocchi";
    font-style: normal;
    font-weight: 400;
}