


body {
  background-color: #262626;
  color: #262626;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.bulletpoint_1 {
  text-align: center;
  color: #81BF0C;
  &:hover { 
    color: #FDD400;
    text-decoration: none;
  }
}

.bulletpoint_2 {
  text-align: center;
  color: #81BF0C;
  &:hover { 
    color: #FDD400;
    text-decoration: none;
  }
}



.links {
  float: right;
}

.logo {
  text-align: center;
}

.logo_2 {
  text-align: center;
  img {
         border-radius: 20px;
    }

}




h1 {
  text-align: center;
  color: #81BF0C;
}

h3 {
  font-size: 20px;
  text-align: center;
  color:#81BF0C;
}



p, ol,td {

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  float: right;
  text-decoration: none;
  color: #fff;
  &:visited {
    color: #FDD400;

  }
  &:hover {
    color: #76B700;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }


  

  ul  {
    font-size: 12px;
    list-style: square;
  }
li {
  font-size: 12px;
  list-style: square;
  
}
  
}
